@model IEnumerable<Webshop.Models.Category>
@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="width:800px; border:initial; text-align:center; vertical-align:central; background-color:whitesmoke; align-content:center">
    <br />
    <p style="font-size:xx-large">Kategorije</p>
    <hr />
    @{
        int i = 0;
        foreach (Webshop.Models.Category c in Model)
        {
            <a href="/Home/Kategorija?cat=@c.ID">
                @if (i % 3 == 0)
                {
                    <div class="container" style="width: 200px; height: 200px; border: solid; text-align: center; vertical-align: central; background-color: lightgoldenrodyellow; float: left">
                        @if (string.IsNullOrEmpty(c.SlikaPath))
                        {
                            <img src="~/Images/NoPhoto.png" alt="No photo"/>
                        }
                        else
                        {
                            <img src="@Url.Content(c.SlikaPath)" alt="No photo"  style="width:128px;height:128px"/>
                        }
                        <br />
                        <br />
                        <p style="font-size:medium"><b>@c.ImeKategorije</b></p>
                    </div>
                }
                else if (i % 3 == 2)
                {
                    <div class="container" style="width: 200px; height: 200px; border: solid; text-align: center; vertical-align: central; background-color: lightgoldenrodyellow; float: none">
                        @if (string.IsNullOrEmpty(c.SlikaPath))
                        {
                            <img src="~/Images/NoPhoto.png" alt="No photo" />
                        }
                        else
                        {
                            <img src="@Url.Content(c.SlikaPath)" alt="No photo" style="width:128px;height:128px"/>
                        }
                        <br />
                        <br />
                        <p style="font-size:medium"><b>@c.ImeKategorije</b></p>
                    </div>
                }
                else if (i % 3 == 1)
                {
                    <div class="container" style="width: 200px; height: 200px; border: solid; text-align: center; vertical-align: central; background-color: lightgoldenrodyellow; float: right">
                        @if (string.IsNullOrEmpty(c.SlikaPath))
                        {
                            <img src="~/Images/NoPhoto.png" alt="No photo" />
                        }
                        else
                        {
                            <img src="@Url.Content(c.SlikaPath)" alt="No photo" style="width:128px;height:128px"/>
                        }
                        <br />
                        <br />
                        <p style="font-size:medium"><b>@c.ImeKategorije</b></p>
                    </div>
                }
            </a>
            i++;
            if (i % 3 == 0)
            {
                <br />
                <br />
            }
        }
    }
</div>