@{
    ViewBag.Title = "Cart";
}

<h2>Košara</h2>

@if (Session["Cart"] != null)
{
    <h2>
        @Html.ActionLink("Kupi", "Buy", "Order")
    </h2>
    <h4>@Html.ActionLink("Isprazni košaru", "Empty")</h4>
    <h4 style="text-align:left; float:left;">Ukupna cijena: @Html.Partial("_UkupnaCijena")</h4>
}
<table class="table" border="1" style="text-align:center; vertical-align:middle;">
    <tr>
        <th width="80">

        </th>
        <th>
            Naziv
        </th>
        <th width="150">
            Cijena
        </th>
        <th>
            Količina
        </th>
        <th></th>
    </tr>
    @if (Session["Cart"] == null)
    {
        <tr>
            <td colspan="5">
                <text>
                    Još nema proizvoda u košarici
                </text>
            </td>
        </tr>
    }
    else
    {
        List<Webshop.Models.Product> pro = Session["Cart"] as List<Webshop.Models.Product>;
        List<KeyValuePair<int, int>> kol = Session["Kolicina"] as List<KeyValuePair<int, int>>;
        for (int i = 0; i < pro.Count; i++)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(pro[i].SlikaPath))
                    {
                        <img src="@Url.Content(pro[i].SlikaPath)" width="75" height="75" alt="No photo" />
                    }
                    else
                    {
                        <img src="~/Images/NoPhoto.png" width="75" height="75" />
                    }
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => pro[i].Naziv)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => pro[i].Cijena)
                </td>
                <td style="width:120px; vertical-align:middle">
                    @using (Html.BeginForm("IncrementDecrement", "Proizvod", FormMethod.Get))
                    {
                        @Html.Hidden("id", pro[i].ID)
                        <input type="number" readonly="readonly" name="id" value="@kol[i].Value" style="width:50px" />
                        <input type="submit" value="+" name="submit" />
                        <input type="submit" value="-" name="submit" />
                    }
                </td>
                <td style="vertical-align:middle">
                    @Html.ActionLink("Obriši", "Remove", new { id = pro[i].ID })
                </td>
            </tr>
        }
    }

</table>
